﻿/*

  *	classic-skin.css
	Styling skin for the RAGE Metadata Editor.

  * Copyright 2015-2016 Sofia University
  
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	This project has received funding from the European Union’s Horizon
	2020 research and innovation programme under grant agreement No 644187.
	You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
*/


body {
	text-align: center;
	counter-reset: assetcounter;
	overflow-y: scroll;

	font-family: Verdana, Geneva, sans-serif;
	text-shadow: 0 0 2px LightGray;
	color: black;
	max-width: 50em;
	margin: auto;
}

.nav-bar {
	float: left;
	width: 7em;
	font-size: 1.25em;
	text-align: right;
	#padding-right: 0.5em;
	#margin-right: 0.5em;
	margin-top: 6.5em;
	color: gray;
	background: white;
}

.main {
	margin: 0 auto;
	padding-left: 1em;
	max-width: 40em;
	#height: 30em;
	overflow: auto;
	padding-bottom: 2em;
}

.nav-item {
	position: relative;
	border-radius: 0.1em;
	padding: 0.25em 0.5em 0.25em 0;
	margin-bottom: 0.35em;
	background-color: ghostwhite;
	cursor: pointer;	
	border: solid 1px transparent;
}

.nav-item.autoexpand:hover {
	width: 10em;
}

.nav-line {
	position: relative;
	border-radius: 0.1em;
	padding: 0.25em 0 0.25em 0.5em;
	margin-bottom: 0.35em;
	background: transparent;
	height: 0.5em;
}

.nav-stat{
	position: relative;
	border-radius: 0.1em;
	padding: 0.25em 0.5em 0.25em 0;
	margin-bottom: 0.35em;
	text-shadow: 0 0 2px whitesmoke;
	cursor: pointer;	
	border: solid 1px transparent;
	color: black;
}

.nav-item:hover {
	background: MediumSeaGreen;
	color: white;
}

.nav-item.dangerous:hover {
	background: Tomato;
	color: white;
}

.nav-index {
	font-size: 1em;
	font-weight: bold;
	margin: 0;
}

.nav-index-final {
	font-size: 1.15em;
	font-weight: bold;
	margin-top: 0.5em;
	background: ghostwhite;
	padding: 0.5em;
}

.nav-text {
	font-size: 0.75em;
	margin: 0;
}

.nav-text-final {
	#border: solid red 1px;
	font-size: 0.9em;
	margin: 0;
	font-weight: normal;
	padding-left: 1.6em;
}

/* images embeded in the header must be project logos */
h1 img {
	height: 1.5em;
	vertical-align: -0.35em;
}


/* a title resembling the text of RAGE's logo */
h1, h2, h3, #artefactSection {
	display: block;
	position: relative;
	margin: 0;

	color: #505050;
	text-shadow: 0 0 2px LightGray;
	#text-transform: uppercase;

	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.5em;
	font-weight: bold;

	#transform: scale(0.95,1);
	#-ms-transform: scale(0.95,1);
	#-webkit-transform: scale(0.95,1);
}
#artefactSection {
	display: inline;
}

h2 {
	font-size: 1.25em;
	#transform: scale(1,1);
	#-ms-transform: scale(1,1);
	#-webkit-transform: scale(1,1);
	font-weight: bold;
}

h2.subtitle {
	color: Gray;
	text-transform: none;
	font-size: 1.15em;
	font-weight: normal;
	margin-bottom: 1em;
}

#message h2 {
	font-size: 1.25em;
	transform: scale(1,1);
	-ms-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	font-weight: normal;
	text-transform: none;
}

h3, #artefactSection {
	font-size: 1em;
}


.launchButton  {
	display: inline-block;
	#color: white;
	text-align: center;
	background-color: GhostWhite;
	#box-shadow: 0.1em 0.2em 0.5em DimGray inset;
	#text-shadow: 0 0 2px Black;
	text-transform: uppercase;
	text-decoration: none;
	#transform: scale(1,1);
	#-ms-transform: scale(1,1);
	#-webkit-transform: scale(1,1);
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.5em;
	#font-weight: bold;
	padding: 0.25em 1em;
	border-radius: 0.3em;
	border: dotted 1px LightGray;
	margin: 0.25em;
	cursor: pointer;
	#position: relative;
	#top: -0.35em;
}

a, a:visited  {
	color: MediumAquaMarine;
	text-decoration: none;
}

a:hover, a:visited:hover {
	color: Tomato;
}

a.launchButton, a.launchButton:visited  {
	color: Black;
}

a.launchButton:hover, a.launchButton:visited:hover  {
	color: Black;
}

#deleteDialog .launchButton, #searchAll .launchButton {
	background-color: MediumAquaMarine;
	font-size: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

#searchAll {
	display: none;
	margin: 1em 0;
}

#message .launchButton {
	background-color: Tomato;
	font-size: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 0;
}

.assetButton  {
	color: MediumAquaMarine;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0.1em 0.5em;
	border-radius: 0.2em;
	margin-top: 0.3em;
	margin-right: 0.5em;
	cursor: pointer;
	background-color: White;
	#border: solid 1px Gray;
	#position: relative;
	#top: 0.5em;
}
.assetButton[red] {
	color: Tomato;
	float: right;/*margin-left: 3em;*/
}
.assetButton:hover {
	color: White;
	background-color: Tomato;
}

.assetButton img {
	#float: right;
	width: 1.5em;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	opacity:0.25;
	vertical-align: middle;
}

.assetButton:hover img {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	opacity:1;
}



.launchButton:hover {
	background-color: MediumAquaMarine;
}

#deleteDialog .launchButton:hover {
	background-color: Tomato;
}

.border  {
	width: inherit;
	text-align: center;
	font-size: 0.1em;
	padding: 0.5em 1em 0.25em 1em;
	margin: 0 0 2em 0;
	width: 90%;
	overflow: hidden;
	border-width: 0;
	border-left: none;
	border-top: solid 0px white;
	border-right: none;
	border-bottom: solid 1px gray;
	border-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), gray, gray, rgba(0, 0, 0, 0)) 100% 1;
	-webkit-border-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), gray, gray, rgba(0, 0, 0, 0)) 100% 1;
	-moz-border-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), gray, gray, rgba(0, 0, 0, 0)) 100% 1;   
}

.evaporate {
	position: relative;
	animation-name: evaporating;
	animation-duration: 2s;
	animation-delay: 0s;
}

@keyframes evaporating {
	0% {left: 0; opacity:1; max-height: 10em;}
	25% {left: 0; opacity:0.5; max-height: 10em;}
	50% {left: -50%; opacity:0; max-height: 0em;}
	100% {left: -200%; max-height: 0em;}
}

.row {
	margin: 0.05em auto;
	padding: 0.25em 0.5em;
	text-align: left;
	border: solid 3px White;
	#border-bottom: solid 1px LightGray;
	border-radius: 0.5em;
	color: MediumSeaGreen;
	cursor: pointer;
}

.row[selected=true] {
	color: White;
	border: solid 3px MediumAquaMarine;
	background-color: MediumAquaMarine;
}

.row[selected=false]:hover {
	color: Black;
	background-color: #ecf9f4; /*MediumAquaMarine;*/
}

.row .name {
	font-size: 1.25em;
	font-weight: bold;
}

.nobold {
	font-weight: normal;
}

.row .description {
	font-size: 1em;
	color: Black;
	margin-bottom: 0;
}

/*.name:before {
		font-size: 1em;
		font-weight: normal;
		#color: Gray;
        content: counter(assetcounter) ".\0000a0\0000a0";
        counter-increment: assetcounter;
    }
*/

.frame .name:before {
        content: "";
    }

#whitening {
	width: 100%; 
	height: 100%;
	
	filter:alpha(opacity=85); 
	-moz-opacity:0.85; 
	-khtml-opacity: 0.85; 
	opacity: 0.85; 
	background: White; 

	position: fixed; 
	top: 0;
	left: 0; 
	z-index: 100; 
	display:none;
	cursor: pointer;
}

.header {
	margin: auto;
	margin-top: 0.5em;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	#border-bottom: dotted 1px LightGray;
}

#deleteDialog, #message {
	width: 30em; 
	
	background: White; 

	position: fixed; 
	top: 40%;
	left: calc(50% - 15em); 
	z-index: 200; 
	border: solid 0.3em MediumAquaMarine;
	border-radius: 0.5em;
	padding: 1em;
	display:none;
}

#message {
	border-color: Tomato;
}

.itemList {
	max-width: 40em;
	margin: 0.25em auto;
}

#uploadZone {
	display: block;
	width: 80%;
	max-width: 20em;
	height: 10em;
	max-height: 10em;
	min-height: 10em;
	border: solid 0.25em MediumAquaMarine;
	margin: 0 auto;
	background: repeating-linear-gradient(
		45deg,
		#ecf9f4,
		#ecf9f4 10px,
		rgba(255,255,255,0.1) 10px,
		rgba(255,255,255,0.1) 20px
	);
	color: MediumAquaMarine;
	font-size: 2em;

	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
}

#uploadZone.active {
	border: solid 0.25em Tomato;
	background: repeating-linear-gradient(
		45deg,
		#ffe9e6,
		#ffe9e6 10px,
		rgba(255,255,255,0.1) 10px,
		rgba(255,255,255,0.1) 20px
	);
}

#uploadZone input[type=file]
{
	visibility: hidden;
}

.header input {
	margin-left: 0.2em;
	width: 8em;
	background-color: White;
	text-align: left;
	font-weight: normal;
	text-transform: none;
}

.header input:hover {
	background-color: White;
}

.frame {
	max-width: 30em;
	margin: 0.25em auto;
	margin: 0.25em auto;
	padding: 0.25em 0.5em;
	text-align: left;
	border: dotted 1px LightGray;
	border-radius: 0.3em;
	min-height: 2em;
	position: relative;
}

.vertical {
	text-align: right;
	display: block;
	background-color: White;
	#border: solid 1px red;
	font-size: 1em;
	padding: 0.25em 0 0.25em 1.5em;
	#transform: rotate(270deg);
	#transform-origin: left center;
	width: 10em;
	position: absolute;
	left: -12em;
	float: left;
}

.frame .launchButton {
	display: none;
	position: relative;
	top: 0.15em;
	font-size: 0.75em;
}

.frame:hover .launchButton {
	display: inline;
}

.locked {
	//color: Tomato;
}

.wrap {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
}









/* Tooltip container */
.tooltip {
    position: relative;
    #display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
	font-size: 0.75em;
	font-weight: normal;
	
    visibility: hidden;
    background-color: Tomato;
	color: White;
    text-align: center;
    padding: 5px 0.5em;
    border-radius: 3px;
	text-transform: uppercase;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
	
    width: 14em;
    bottom: calc(100% + 6px);
    left: 50%; 
    margin-left: calc(-0.5em - 7em); /* Use half of the width, to center the tooltip */	
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;  /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: tomato transparent transparent transparent;
}


.rowbar {
	padding: 0;
	margin: 0;
    border: 0;
    height: 0;
    border-top: 1px dotted rgba(0, 0, 0, 0.1);
    #border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}



a.navButton  {
	color: MediumAquaMarine;
	display: inline-block;
	text-align: center;
	#text-transform: uppercase;
	text-decoration: none;
	#font-size: 0.8em;
	font-weight: bold;
	padding: 0 0.5em 0.2em 0.5em;
	border-radius: 0.2em;
	margin-top: 0.3em;
	#margin-right: 0.5em;
	cursor: pointer;
	#background-color: White;
	#border-left: dotted 1px LightGray;
	#border-right: dotted 1px LightGray;
}
a.navButton[current] {
	color: White;
	background-color: MediumAquaMarine;
}
a.navButton:hover {
	color: White;
	background-color: Tomato;
}

.remodal-subtext {
	display: block;
	font-size: 70%;
}

h2.mew {
	font-size: 1.75em;
	background-color: MediumSeaGreen;
	color: white;
	border-bottom: solid 1px ghostwhite;
	padding: 0.25em 0.5em;
	margin-bottom: 0;
	margin-top: 0;
}

#searchString {
	width: calc(100% - 2.5em);
	padding: 0 0.25em;
}

#lock-icon {
	cursor: pointer;
}

#lock-icon:hover {
	color: MediumSeaGreen;
}

.asset-logo {
	float: right;
	max-width: 10em;
	height: 4em;
	padding: 0.25em;
	border: solid 1px lightgray;
}
