@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");
* {
    text-shadow: none;
}
body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: inherit;
}

.header {
	font-size: 2em;
}

/* dialog */
h2.mew {
	background-color: #18BC9C;
}
.remodal-cancel:hover {
	background-color: #18BC9C;
	border-color: #18BC9C;
}


.asset-logo {
	border-color:#ced4da;
    margin-left: 4px;
}

/* page */
.main {
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
}
.itemList {
    max-width: 100%;
    margin: .25em auto;
}

/* navbar */
.nav-bar {
	float:none;
	width: 100%;
	margin-top: 0;
	position: relative;
	right:0;
	background: #ecf0f1;
	display: flex;
  	align-items: center;
  	justify-content: flex-end;	
  	flex-wrap: wrap;
    min-height: 6rem;
}
.nav-bar:after {
    content: "";
    display: block;
    clear: both;
}
.nav-item {
    float: left;
    padding: 0;
    margin-bottom: .35em;
    cursor: pointer;
	background: #ecf0f1;

    color: rgba(102,102,102,0.85);
    transition: all .2s;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: .02em;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 21px;  
    font-size: 15px;
    /*border: solid 1px transparent;*/
}
a.navButton:first-child {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
a.navButton:last-child {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
#searchString + span {
    font-size: 1.6rem;
    font-weight: 800;
    position: relative;
    top: 5px;
}
#searchString {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    touch-action: manipulation;
	padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.3;
    color: #7b8a8b;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;    
}
#searchString:focus{
	color: #7b8a8b;
    background-color: #fff;
    border-color: #597ea2;
    outline: none;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.25);
}
.nav-index {
    font-weight: inherit;
    margin: 0;
}
.nav-bar .nav-item + .nav-item {
    margin-left: 2rem;
}
.nav-item:hover {
	background-color: transparent;
	color: inherit;
}
.nav-item:not(:last-child):hover {
	color: #ff8700;
    background-color: transparent;	
}

/* row */
.row .name {
    font-size: 19px;
    color: #ff8700;
    text-decoration: none;
    background-color: transparent;
    font-weight: 500;
    text-shadow: none;
}
.row .description {
    font-size: 1em;
    color: #212529;
    margin-bottom: 0;
    text-shadow: none;
}
.row[selected=false]:hover {
	background-color: #ecf0f1;
}
.rowbar {
	border-top: 1px solid rgba(0, 0, 0, 0.125);
}
/* nav */

.itemNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	align-items: center;
  	justify-content: center;    
    padding-left: 0;
    list-style: none;
    border-radius: 0;	
    margin-bottom: 10px;
}

.itemNav .navButton:nth-child(1) {
	margin-left: 0.5em;
}

.itemNav .navButton {
    position: relative;
    margin-left: 0;
    color: #fff;
    background-color: #18BC9C;
    border: 0 solid transparent;
    display: list-item;
    text-align: -webkit-match-parent;   
    border-radius: 0; 
	
	padding: 0.5rem 0.75rem;
    line-height: 1.25;
}

.itemNav .navButton[current] {
    z-index: 2;
    color: #fff;
    background-color: #0f7864;
    border-color: transparent;
}

.itemNav .navButton:focus, .itemNav .navButton:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0f7864;
    border-color: transparent;
}

#lock-icon {
    display: block;
    position: absolute;
    right: 10px;
    top: 0;
}


/* media */
@media (max-width: 491px) {
	.nav-item:nth-child(5) {
    	flex-basis: 100%;
	}
	#searchString {
		width: 70%;
	}
    .header {
        font-size:1.4rem;
    }
}
